body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/mountainpic-background.png")
  /* background: #1F2833;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to top, #0B0C10, #303d4e);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to top, #0B0C10, #303d4e); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  display: block;
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 0;
}

.fab, .far, .fas, .fa {
  font-family: FontAwesome !important;
 }

 a {
   text-decoration: none;
 }
